.wide-field {
    width: 40%;
}

.accordion-body {
    overflow: hidden;
}

.well.header {
    text-align: center;
}

.accordion-heading a {
    font-size: 18px;
}

.control-label {
    font-weight: bold;
}

#personalInformation {
    margin: 30px 0;
}

legend {
    margin-bottom: 0;
}